include LICENSE
include README.md
include requirements.txt

recursive-include package_name *
recursive-include hex_zmq_servers/mujoco/archer_y6/model * *
recursive-include hex_zmq_servers/mujoco/e3_desktop/model * *
recursive-include hex_zmq_servers/robot/hexarm/urdf * *
recursive-include hex_zmq_servers/config *

recursive-exclude * *.pyc
recursive-exclude * .DS_Store
recursive-exclude * __pycache__